html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #12161d;
    color: #fff;
}

.table {
    color: #fff;
}

.input_place {
    background-color: #12161d;
    color: #fff;
}

.input_place:focus {
    background-color: #12161d;
    color: #fff;
    box-shadow: none;
    filter: drop-shadow(0 0 0.5rem crimson);
}

input[type="radio"] {
    display: none;
}

.btn-group {
    width: 100%;
}

.btn-secondary {
    color: #000;
    background-color: #fff;
}

.container {
    align-content: center;
    position: center;
}