html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #12161d;
    color: #fff;
    overflow-x: hidden;
    margin-left: 200px;
}

input {
    color-scheme: dark;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}

input[type="radio"] {
    display: none;
}

td {
    border: none;
}

rect {
    fill: #222b33;
}

text {
    fill: #fff;
}

textarea {
    color-scheme: dark;
}

#sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #12161d;
    border-right: solid 1px rgba(255, 255, 255, 0.5);
    padding: 10px 10px;
}

.amount-align {
    text-align: right;
}

.badge {
    vertical-align: middle;
    margin-top: 0.5em;
}

.balance-bg-color {
    background-color: #222b33;
}

.btn-group {
    width: 100%;
}

.btn-secondary {
    color: #000;
    background-color: #fff;
}

.dahboard-container {
    float: left;
}

.grid-goto-page {
    display: none;
}

.grid-header-title a {
    color: #fff;
}

.icon-bg-color, .widget-color {
    background-color: #1a222b;
}

.input_place {
    background-color: #12161d;
    color: #fff;
}

.input_place:focus {
    background-color: #12161d;
    color: #fff;
    box-shadow: none;
    filter: drop-shadow(0 0 0.5rem crimson);
}

.main-content {
    margin-left: 30px;
}

.page-item.active .page-link {
    background-color: #808080;
}

.page-link {
    background-color: #12161d;
    color: #fff;
    border: none;
}

.page-link:hover {
    background-color: #808080;
    color: #fff;
    opacity: 0.5;
}

.raphael-group-5-background {
    background-color: #12161d;
    fill: #12161d;
}

.table {
    color: #fff;
}

.widget {
    width: 100%;
}