html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #12161d;
    color: #fff;
}

.table {
    color: #fff;
}

.input_place {
    background-color: #12161d;
    color: #fff;
    border-color: cornflowerblue;
}

.input_place:focus {
    background-color: #12161d;
    color: #fff;
    filter: drop-shadow(0 0 0.5rem crimson);
}

#floatingLabel:placeholder-shown
{

}