@model ExpenseCalculator.Models.Category

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <input asp-for="Title" placeholder="Title" class="form-control input_place"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <div class="btn-group-vertical">
                    <input type="radio" id="radioOne" name="Type" value="Expense" checked="@(Model.Type == "Expense")"/>
                    <label class="radio-class" for="radioOne">Expense</label>
                    <input type="radio" id="radioSecond" name="Type" value="Income" checked="@(Model.Type == "Income")"/>
                    <label class="radio-class" for="radioSecond">Income</label>
                </div>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
