@model IEnumerable<ExpenseCalculator.Models.Category>
@using GridMvc

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="text-white">Create New</a>
</p>
<div class="row">
    <div class="col-md-6">
        @await Html.Grid(Model).Columns(columns =>
    {
        columns.Add(x => x.Title).SetWidth("60%");
        columns.Add(x => x.Type).SetCellCssClassesContraint(
            x => x.Type == "Income" ? "badge bg-success" : "badge bg-danger").SetWidth("20%");
        columns.Add().RenderValueAs(model => "").Titled("Actions").SetWidth("20%");
    }).Sortable().WithPaging(10).RenderAsync()
    </div>
</div>
