@{
}

<div id="sidebar">
    <div>
        <span class="fs-5 d-none d-sm-inline">Menu</span>
    </div>
    <nav>
        <div>
            <a href="/Category/Index" class="nav-link align-middle px-0">
                <i class="fa-regular fa-folder-closed" style="color: #454545;"></i>
                <span style="color:darkgray"> Category</span>
            </a>
        </div>
    </nav>
    <nav>
        <div>
            <a href="/Transaction/Index" class="nav-link align-middle px-0">
                <i class="fa-solid fa-right-left" style="color: #454545;"></i>
                <span style="color:darkgray"> Transaction</span>  
            </a>
        </div>
    </nav>
    <nav>
        <div>
            <a href="/Dashboard/Index" class="nav-link align-middle px-0">
                <i class="fa-solid fa-chart-line" style="color: #454545;"></i>
                <span style="color:darkgray"> Dashboard</span>
            </a>
        </div>
    </nav>
</div>